.mainBlock {
    height: 100vh;
    background-color: antiquewhite;
}

.mainContainer {
   flex-wrap: wrap;
}

.text {
    width: 286px;
    background-color: gray;
}

.photo {
    width: 286px;
    height: 400px;
    background-color: gray;
}